import {
  pipe, compose, composeRight,
} from 'stick-js/es'

import React, { useCallback, useEffect, useMemo, useRef, useState, } from 'react'

import { FormattedMessage, } from 'react-intl'
import { useDispatch, } from 'react-redux'
import styled from 'styled-components'

import configure from 'alleycat-js/es/configure'
import {} from 'alleycat-js/es/general'
import { useCallbackConst, } from 'alleycat-js/es/react'
import { useReduxReducer, useSaga, } from 'alleycat-js/es/redux-hooks'
import { media, mediaQuery, } from 'alleycat-js/es/styled'

import { createReducer, } from '../../redux'

import {} from '../App/actions'
import {} from '../App/store/app/selectors'
import {} from '../App/store/domain/selectors'
import {} from '../App/store/ui/selectors'

import {} from './actions'
import reducer from './reducer'
import saga from './saga'
import {} from './selectors'

import { container, getMessages, useWhy, mediaPhone, mediaTablet, mediaDesktop, mediaTabletWidth, } from '../../common'
import config from '../../config'

import {} from '../../types'

const messages = 'app.containers.{{name}}' | getMessages

const {{name}}S = styled.div`
`

const dispatchTable = {
  // counterIncrementDispatch: counterIncrement,
}

const selectorTable = {
  // counter: selectCounter,
}

export default container (
  ['{{name}}', dispatchTable, selectorTable],
  (props) => {
    const {} = props

    useWhy ('{{name}}', props)
    useReduxReducer ({ createReducer, reducer, key: '{{name}}', })
    useSaga ({ saga, key: '{{name}}', })

    return <{{name}}S>
    </{{name}}S>
  }
)
