import {
  pipe, compose, composeRight,
} from 'stick-js/es'

import { weakMapMemoize as memoize, } from 'reselect'

import { RequestInit, RequestError, RequestLoading, RequestResults, } from 'alleycat-js/es/fetch'
import {} from 'alleycat-js/es/general'

import { initialState, } from './reducer'

import { initSelectors, toRequestResults, } from '../../common'

const { select, selectTop, selectVal, } = initSelectors (
  '{{name}}',
  initialState,
)

; `
export const selectCounter = selectVal ('counter')
export const selectCountedSeven = select ('countedSeven', [selectCounter], gte (7))
`
