import {
  pipe, compose, composeRight,
} from 'stick-js/es'

import React, { Fragment, memo, useCallback, useEffect, useRef, useState, } from 'react'

import styled from 'styled-components'

import configure from 'alleycat-js/es/configure'
import { logWith, } from 'alleycat-js/es/general'
import {} from 'alleycat-js/es/predicate'
import {} from 'alleycat-js/es/react'
import { mediaQuery, } from 'alleycat-js/es/styled'

import { useWhy, mediaPhone, mediaTablet, mediaDesktop, component, } from '../../common'
import config from '../../config'

const configTop = config | configure.init

const {{name}}S = styled.div`
`

export default component (
  ['{{name}}', null],
  (props) => {
    const {} = props
    useWhy ('{{name}}', props)
    return <{{name}}S>
    </{{name}}S>
  },
)
